@use "src/variables";

// mobile styling
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;

    .dietary-restrictions {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    .roulette-wheel {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      padding: 0 2.5rem;

      button {
        background: url(../../../assets/images/roulette-wheel.png) no-repeat;
        background-size: 8rem;
        height: 8rem;
        min-height: 8rem;
        max-height: 8rem;
        width: 8rem;
        min-width: 8rem;
        max-width: 8rem;
        border: none;
        cursor: pointer;
        color: transparent;
      }

      p {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  .rotate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

// tablet styling
// @media only screen and (min-width: variables.$tablet-breakpoint) {
// }

// desktop styling
// @media only screen and (min-width: variables.$desktop-breakpoint) {
// }
