@use "src/variables";

// mobile styling
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;

    .dietary-restrictions {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
    }

    .roulette-wheel {
      display: flex;
      align-items: center;
      padding: 0 2.5rem;

      p {
        text-align: center;
        font-size: 1.5rem;
      }

      img {
        height: 8rem;
        width: 8rem;
        cursor: pointer;
      }
    }
  }
}

// tablet styling
// @media only screen and (min-width: variables.$tablet-breakpoint) {
// }

// desktop styling
// @media only screen and (min-width: variables.$desktop-breakpoint) {
// }
