<div class="parent">
  <h2>Recipe Search</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Keywords</mat-label>
      <input [formControl]="form.controls.keywords" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dish Type</mat-label>
      <mat-select [formControl]="form.controls.dishType" multiple>
        @for (dishType of DishType | keyvalue; track dishType) {
          <mat-option [value]="dishType.value">{{ dishType.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="dietary-restrictions">
      <mat-checkbox [formControl]="form.controls.glutenFree"
        >Gluten-free</mat-checkbox
      >
      <mat-checkbox [formControl]="form.controls.vegan">Vegan</mat-checkbox>
      <mat-checkbox [formControl]="form.controls.vegetarian"
        >Vegetarian</mat-checkbox
      >
    </div>

    <div class="roulette-wheel">
      <img
        (click)="onSubmit()"
        [ngClass]="spinWheel ? 'rotate' : ''"
        src="assets/images/roulette-wheel.png"
        alt="search button"
      />
      <p>Spin the wheel for a random search!</p>
    </div>
  </form>
</div>

<!-- style icons PNG Designed By Ylivdesign from https://pngtree.com/freepng/casino-gambling-roulette-icon-flat-style_5252282.html?sol=downref&class=bef -->
<!-- <a href='https://pngtree.com/so/casino'>casino png from pngtree.com/</a> -->
