form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.2rem;
}

input {
    margin-bottom: 1rem;
}

select {
    margin-bottom: 1rem;
}

option {
    padding: 0.1rem;
}

#dietary-restrictions {
    height: 3.7rem;
}