<header>
  <div>
    <img
      src="assets/images/roulette-wheel.png"
      alt="roulette wheel"
      class="infinite-rotate"
    />
    <h1>Recipe</h1>
    <h1>Roulette!</h1>
  </div>
  <mat-icon (click)="toggleNav()">menu</mat-icon>
  @if (showNav) {
    <nav>
      <a
        routerLink="/search"
        (click)="toggleNav()"
        [ngClass]="{ active: currentRoute === '/search' }"
        >Search</a
      >
      <a
        routerLink="/favorites"
        (click)="toggleNav()"
        [ngClass]="{ active: currentRoute === '/favorites' }"
        >Favorites</a
      >
    </nav>
  }
</header>
