@use "src/variables";

// mobile styling

header {
  display: flex;
  justify-content: space-between;
  background-color: variables.$roulette-green;
  padding: 0.5rem;
  border-bottom: solid 0.2rem variables.$roulette-red;
}

div {
  display: flex;
  flex-direction: column;
}

img {
  display: none;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: variables.$roulette-red;
  font-weight: 500;
  word-spacing: 9999px;
  cursor: pointer;
}

button {
  margin: 1rem;
  transform: scale(2);

  mat-icon {
    color: variables.$roulette-red;
    opacity: 50%;
    font-weight: 600;
  }
}

.active-link {
  text-decoration: underline;
}

// tablet styling

@media only screen and (min-width: variables.$tablet-breakpoint) {
  header {
    align-items: center;
    padding: 1rem;
  }

  div {
    flex-direction: row;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 500;
    margin-right: 1rem;
    word-spacing: 1rem;
  }
}

// desktop styling

@media only screen and (min-width: variables.$desktop-breakpoint) {
  div {
    align-items: center;
  }

  img {
    display: block;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
  }

  .infinite-rotate {
    animation-name: infinite-rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes infinite-rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
