<header>
  <div>
    <img
      src="assets/images/roulette-wheel.png"
      alt="roulette wheel"
      class="infinite-rotate"
    />
    <h1 routerLink="/search">Recipe Roulette!</h1>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/search" routerLinkActive="active-link"
      >Search</a
    >
    <a mat-menu-item routerLink="/favorites" routerLinkActive="active-link"
      >Favorites</a
    >
    <a mat-menu-item routerLink="/sign-in" routerLinkActive="active-link"
      >Sign In</a
    >
  </mat-menu>
</header>
