header {
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding: 0.5rem;
    border-bottom: solid 0.2rem #8b0000;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #8b0000;
    font-weight: 500;
}

mat-icon {
    transform: scale(2);
    color: #8b0000;
    margin: 1rem;
    opacity: 50%;
    font-weight: 600;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-color: green;
    border: solid 0.1rem #8b0000;
    padding: 0.5rem;
}

a {
    font-size: 1.5rem;
    color: #8b0000;
    text-decoration: none;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}