<div class="parent">
  <div class="name-parent">
    <div class="text-parent">
      <h2 class="recipe-name">{{ currentRecipe.name }}</h2>
      <p class="recipe-source">
        <a href="{{ currentRecipe.sourceUrl }}" target="_blank">{{
          currentRecipe.sourceName
        }}</a>
      </p>
    </div>
    <div class="icon-parent">
      <mat-icon class="favorite-icon outer">lens</mat-icon>
      <mat-icon
        *ngIf="!isRecipeSaved(currentRecipe.apiUri)"
        (click)="addToFavorites(currentRecipe)"
        class="favorite-icon inner"
        >favorite_border</mat-icon
      >
      <mat-icon
        *ngIf="isRecipeSaved(currentRecipe.apiUri)"
        (click)="deleteFromFavorites(currentRecipe.apiUri)"
        [ngClass]="isRecipeSaved(currentRecipe.apiUri) ? 'grow-and-shrink' : ''"
        class="favorite-icon inner"
      >
        favorite</mat-icon
      >
    </div>
  </div>
  <div class="content-parent">
    <div class="picture-parent">
      <img src="{{ currentRecipe.imageUrl }}" alt="image" />
    </div>
    <div class="ingredients-parent">
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of currentRecipe.ingredients">
          <span>{{ ingredient }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
