#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#recipe-name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#recipe-source {
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    text-decoration: underline;
    margin-bottom: 1rem;
}

#recipe-source a {
    font-size: 2rem;
}

#picture-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

img {
    border-radius: 1rem;
    width: 70%;
    box-shadow: 0.5rem 0.5rem 1rem rgb(41, 41, 41);
}

.recipe-icon {
    bottom: 13rem;
    right: 6rem;
}

.outer {
    transform: scale(3);
}

.inner {
    transform: scale(1.7)
}

#ingredients-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

/* tablet styling */

@media only screen and (min-width: 768px) {

    #parent {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    
    #recipe-name {
        font-size: 3rem;
    }
    
    #recipe-source {
        margin-bottom: 2rem;
    }
    
    #recipe-source a {
        font-size: 3rem;
    }
    
    img {
        border-radius: 2rem;
        box-shadow: 1rem 1rem 2rem rgb(41, 41, 41);
    }
    
    .recipe-icon {
        bottom: 29rem;
        right: 14rem;
    }
    
    .outer {
        transform: scale(5);
    }
    
    .inner {
        transform: scale(3);
    }
    
    h3 {
        font-size: 3rem;
        margin-top: 1rem;
    }
    
    li {
        font-size: 2rem;
    }

}

/* desktop styling */

@media only screen and (min-width: 1025px) {

    #parent {
        padding-top: 1rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #content-flex {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
    }

    #picture-parent {
        display: block;
        width: 30%;
        margin-bottom: 0;
        margin-left: 3rem;
    }

    img {
        width: 100%;
        margin-top: 2rem;
    }

    .recipe-icon {
        display: none;
        right: 0;
        bottom: 3rem;
        left: 30rem;
    }

    #ingredients-parent {
        width: 40%;
        align-items: flex-start;
    }

    h3 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    li {
        font-size: 1.5rem;
    }

}