.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20rem;
    margin: 1rem 0;

    mat-form-field {
      width: 100%;
    }
  }
}
