.recipe {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.left-side {
    position: relative;
    width: 50%;
}

img {
    height: 100%;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

mat-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.circle {
    transform: scale(2);
    color: green;
}

.favorite {
    transform: scale(1.3);
    color: red;
}

.right-side {
    position: relative;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 1.5rem;
}

span {
    font-size: 1rem;
    color: black;
    text-decoration: underline;
}