@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* mobile styling */

* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-image: url(./assets/images/wood.jpg);
    background-attachment: fixed;
    position: relative;
    /* overflow-x: hidden !important; */
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow-x: hidden !important; */
}

a {
    text-decoration: none;
    color: black;
}

#recipe-parent {
    width: 100%;
    position: relative;
    /* overflow-x: hidden !important; */
    padding-bottom: 1rem;
}

.recipe {
    width: 100%;
    height: 11rem;
    /* overflow: hidden !important; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipe-image-parent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    /* padding-right: 0.5rem; */
}

.recipe-image {
    height: 80%;
    width: auto;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(41, 41, 41);
    cursor: pointer;
}

.recipe-icon {
    position: absolute;
    bottom: 1.7rem;
    left: 7.5rem;
    cursor: pointer;
}

.outer {
    transform: scale(2.5);
    color: green;
}

.inner {
    transform: scale(1.5);
    color: red;
}

.grow-and-shrink {
    animation-name: grow-and-shrink;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes grow-and-shrink {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(2.5);
    }
}

.recipe-text-parent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.5rem;
    /* padding-left: 0.5rem; */
}

.recipe-name {
    font-size: 1.2rem;
    width: 100%;
    /* overflow: hidden !important; */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.recipe-source {
    display: none;
}

/* tablet styling */

@media only screen and (min-width: 768px) {
    #recipe-parent {
        padding-bottom: 2rem;
    }

    .recipe {
        height: 20rem;
    }

    .recipe-image-parent {
        padding-right: 1.5rem;
        padding-left: 3rem;
    }

    .recipe-image {
        box-shadow: 1rem 1rem 1.5rem rgb(41, 41, 41);
    }

    .recipe-icon {
        bottom: 3.5rem;
        left: 15.5rem;
    }

    .outer {
        transform: scale(4.5);
    }

    .inner {
        transform: scale(2.7);
    }

    @keyframes grow-and-shrink {
        from {
            transform: scale(2.7);
        }
        to {
            transform: scale(4.5);
        }
    }

    .recipe-text-parent {
        padding-left: 1.5rem;
        padding-right: 3rem;
    }

    .recipe-name {
        font-size: 2.5rem;
        -webkit-line-clamp: 4;
    }

    .recipe-source {
        display: block;
        font-size: 2rem;
        /* overflow: hidden !important; */
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: underline;
    }
}

/* desktop styling */

@media only screen and (min-width: 1024px) {
    #recipe-parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #recipe-parent * {
        margin: 0;
        padding: 0;
    }

    .recipe {
        height: 26rem;
        width: 20rem;
        flex-direction: column;
        align-items: center;
    }

    .recipe-image-parent {
        height: auto;
        width: auto;
    }

    .recipe-icon {
        bottom: 3.5rem;
        left: 13rem;
    }

    .outer {
        transform: scale(3.5);
    }

    .inner {
        transform: scale(2.1);
    }

    @keyframes grow-and-shrink {
        from {
            transform: scale(2.1);
        }
        to {
            transform: scale(3.5);
        }
    }

    .recipe-text-parent {
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: auto;
    }

    .recipe-name {
        font-size: 1.5rem;
        text-align: center;
        -webkit-line-clamp: 3;
    }

    .recipe-source {
        font-size: 1rem;
    }
}
